{% extends 'base.html' %}

{% block content %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" style="height: 1300px;">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Добавить Заказ</h4>
                        </div>
                        <form method="post" action="{% url 'search' %}">
                            {% csrf_token %}
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">

                                            <div class="col-md-6">

                                                <input class="form-control" type="search" placeholder="Искать ..."
                                                       aria-label="Search" name="val">
                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-control" name="type">
                                                    <option value="1">Склады</option>
                                                    <option value="3">Агенты</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 ">
                                            </div>
                                            <div class="col-md-6 mt-3 ">
                                                <button type="submit" class="btn btn-primary float-right ">Искать
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% for filter in filter %}
                            <table class="table table-bordered mt-5 ">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Тип</th>
                                    <th>Название</th>
                                    <th>Статус</th>

                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <th>{{ filter.id }}</th>
                                    <th>{{ filter.warehouse_type }}</th>
                                    <th>{{ filter.title }}</th>
                                    <th>{{ filter.status }}</th>


                                </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                        {% for agent in agents %}

                            <div class="table-responsive mt-5">
                                <table class="table table-bordered table-responsive-sm">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Категория</th>
                                        <th>Имя</th>
                                        <th>Название орг.</th>
                                        <th>Телефон 1</th>
                                        <th>Телефон 2</th>
                                        <th>Адресс</th>
                                        <th>Inn</th>
                                        <th>Адресс электронной почты</th>
                                        <th>Информация</th>
                                        <th>Статус</th>
                                        <th>Создано</th>
                                        <th>Обновлено</th>
                                        <th>sms</th>
                                        <th>Действие</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td>{{ agent.id }}</td>
                                        <td>{{ agent.category }}</td>
                                        <td>{{ agent.name }}</td>
                                        <td>{{ agent.org_name }}</td>
                                        <td>{{ agent.phone }}</td>
                                        <td>{{ agent.phone2 }}</td>
                                        <td>{{ agent.address }}</td>
                                        <td>{{ agent.inn }}</td>
                                        <td>{{ agent.email }}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                                    data-target="#exampleModalLong{{ agent.id }}">Информация
                                            </button>
                                            <div class="modal fade" id="exampleModalLong{{ agent.id }}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Информация</h5>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal"><span>&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>
                                                                {{ agent.extra_info|safe }}
                                                            </p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ agent.status }}</td>
                                        <td>{{ agent.created_at }}</td>
                                        <td>{{ agent.updated_at }}</td>
                                        <td>{{ agent.sms_live }}</td>
                                        <td>
                                            <a href="{% url 'agent_update' agent.id %}"
                                               class="btn btn-primary shadow btn-sm sharp mr-1 btn-block"><i
                                                    class="fa fa-pencil"></i></a>
                                            <a href="{% url 'agent_delete' agent.id %}"
                                               class="btn btn-danger shadow btn-sm sharp mr-1 btn-block"><i
                                                    class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}