{% extends 'base.html' %}

{% block content %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Список Балансов Агентов</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-responsive-sm">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Тип</th>
                                        <th>Сумма</th>
                                        <th>Агент</th>
                                        <th>Действие</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for balance in agent_balance %}
                                        <tr>
                                            <td>{{ balance.id }}</td>
                                            <td>{{ balance.type }}</td>
                                            <td>{{ balance.summa }}</td>
                                            <td>{{ balance.contr_agent }}</td>
                                            <td style="width: 100px;">
                                                <a href="{% url 'agent_balance_update' balance.id %}"
                                                   class="btn btn-primary shadow btn-sm sharp mr-1"><i
                                                        class="fa fa-pencil"></i></a>
                                                <a href="{% url 'agent_balance_delete' balance.id %}"
                                                   class="btn btn-danger shadow btn-sm sharp mr-1"><i
                                                        class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}