{% extends 'base.html' %}

{% block content %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Список Характеров Агентов</h4>
                        </div>
                        <div class="card-body">
                            <div class="">
                                <table class="table table-responsive-sm">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Агент</th>
                                        <th>Название</th>
                                        <th>Создано</th>
                                        <th>Действие</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for character in agent_character %}
                                        <tr>
                                            <td>{{ character.id }}</td>
                                            <td>{{ character.contr_agent }}</td>
                                            <td>{{ character.name }}</td>
                                            <td>{{ character.created }}</td>
                                            <td style="width: 100px;">
                                                <a href="{% url 'agent_character_update' character.id %}"
                                                   class="btn btn-primary shadow btn-sm sharp mr-1"><i
                                                        class="fa fa-pencil"></i></a>

                                                <a href="{% url 'agent_character_delete' character.id %}"
                                                   class="btn btn-danger shadow btn-sm sharp mr-1"><i
                                                        class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}