{% extends 'base.html' %}

{% block content %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Список Категорий Агентов</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                {% for category in agent_category %}
                                    <table class="table table-bordered table-responsive-sm">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Название</th>
                                        <th>Действие</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td>{{ category.id }}</td>
                                        <td>{{ category.name }}</td>
                                        <td style="width: 100px;">
                                        <a href="{% url 'agent_category_update' category.id %}"
                                           class="btn btn-primary shadow btn-sm sharp mr-1"><i class="fa fa-pencil"></i></a>
                                        <a href="{% url 'agent_category_delete' category.id %}"
                                           class="btn btn-danger shadow btn-sm sharp mr-1"><i class="fa fa-trash"></i></a>

                                    </td>
                                    </tr>
                                </tbody>
                                </table>
                                 {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}