{% extends 'base.html' %}

{% block content %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Список Агентов</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                {% for agent in agents %}
                                    <table class="table table-bordered table-responsive-sm">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Категория</th>
                                        <th>Имя</th>
                                        <th>Название орг.</th>
                                        <th>Телефон 1</th>
                                        <th>Телефон 2</th>
                                        <th>Адресс</th>
                                        <th>Inn</th>
                                        <th>Адресс электронной почты</th>
                                        <th>Информация</th>
                                        <th>Статус</th>
                                        <th>Создано</th>
                                        <th>Обновлено</th>
                                        <th>sms</th>
                                        <th>Действие</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td>{{ agent.id }}</td>
                                        <td>{{ agent.category }}</td>
                                        <td>{{ agent.name }}</td>
                                        <td>{{ agent.org_name }}</td>
                                        <td>{{ agent.phone }}</td>
                                        <td>{{ agent.phone2 }}</td>
                                        <td>{{ agent.address }}</td>
                                        <td>{{ agent.inn }}</td>
                                        <td>{{ agent.email }}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                                    data-target="#exampleModalLong{{ agent.id }}">Информация
                                            </button>
                                            <div class="modal fade" id="exampleModalLong{{ agent.id }}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Информация</h5>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal"><span>&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>
                                                                {{ agent.extra_info|safe }}
                                                            </p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ agent.status }}</td>
                                        <td>{{ agent.created_at }}</td>
                                        <td>{{ agent.updated_at }}</td>
                                        <td>{{ agent.sms_live }}</td>
                                        <td>
                                            <a href="{% url 'agent_update' agent.id %}"
                                               class="btn btn-primary shadow btn-sm sharp mr-1 btn-block"><i
                                                    class="fa fa-pencil"></i></a>
                                            <a href="{% url 'agent_delete' agent.id %}"
                                               class="btn btn-danger shadow btn-sm sharp mr-1 btn-block"><i
                                                    class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                                 {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}