{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>MotaAdmin - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static './images/favicon.png' %}">
    <link href="{% static './css/style.css' %}" rel="stylesheet">

</head>

{% block content %}
{% endblock %}

<!--**********************************
	Scripts
***********************************-->
<!-- Required vendors -->
<script src="{% static './vendor/global/global.min.js' %}"></script>
<script src="{% static './vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="{% static './js/custom.min.js' %}"></script>
<script src="{% static './js/deznav-init.js' %}"></script>

</html>
