{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
     <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                         <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Изменить приход</h4>
                            </div>
                             <div class="mr-auto ml-auto" style="width: 850px;'">
                         <form class="mt-4 pb-5" method="post">
                             {% csrf_token %}
                             <h5 class="mt-3">Название</h5>
                           {% for f in form %}
                               {{ f.label_tag }}
                               {{ f|add_class:'form-control' }}
                             {% endfor %}
                                 <button class="btn btn-primary float-right mt-3 mb-3" type="submit">Изменить</button>
                             </form>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
       </div>
{% endblock %}