{% extends 'base.html' %}

{% block content %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Список приходов</h4>
                        </div>
                        <div class="card-body table-responsive">
                            <div class="table-responsive-sm">
                                <table class="table table-bordered ">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Дата</th>
                                        <th>Цена</th>
                                        <th>Пользователь</th>
                                        <th>Действие</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for income in income %}
                                        <tr>
                                            <th>{{ income.id }}</th>
                                            <td>{{ income.created }}</td>
                                            <td>{{ income.total }}</td>
                                            <td>{{ income.contr_agent }}</td>
                                            <td style="width: 100px;">
                                                <a href="{% url 'income_item_detail' income.id %}"
                                                   class="btn btn-primary shadow btn-sm sharp mr-1 text-light"><i
                                                        class="fa fa-eye"></i></a>
                                                <a href="{% url 'income_update' income.id %}"
                                                   class="btn btn-primary shadow btn-sm sharp mr-1"><i
                                                        class="fa fa-pencil"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}