{% extends 'base.html' %}

{% block content %}
    <div class="content-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Приходная №{{ income.id }} </h4>
                            {% if income.status != 1 %}
                            <form action="{% url 'income_actions' income.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="close_income">
                                <input type="hidden" name="data" value="{{ income.warehouse_id }}">

                                <button type="submit" class="btn btn-primary">Закрыть</button>
                            </form>
                            {% endif %}
                        </div>
                        <div class="card-body">

                            <div class="">
                                <table class="table table-bordered table-responsive-sm">
                                    <thead>
                                    <tr>
                                        <th>Дата</th>
                                        <th>Цена</th>
                                        <th>Агент</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td>{{ income.created }}</td>
                                        <td>{{ income.total }}</td>
                                        <td>{{ income.contr_agent }}</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Накладная прихода № {{ income.id }} </h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-responsive-sm">
                                <thead>
                                <tr>
                                    <th>Продукт</th>
                                    <th>Количество</th>
                                    <th>Цена</th>
                                     {% if income.status != 1 %}
                                    <th>Действие</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for income_item in income_item %}
                                    <tr>
                                        <td>{{ income_item.product }}</td>
                                        <td>{{ income_item.count }}</td>
                                        <td>{{ income_item.price }}</td>
                                         {% if income.status != 1 %}
                                           <td style="width: 60px;">

                                            <form action="{% url 'income_actions' income.id %}" method="post">
                                            {% csrf_token %}
                                                <input type="hidden" name="action" value="delete_income_item">
                                                <input type="hidden" name="data" value="{{ income_item.id }}">
                                                <input type="hidden" name="warehouse" value="{{ income.warehouse_id }}">
                                                 <button class="btn btn-danger btn-xs"  type="submit"><i class="fa fa-trash"></i></button>
                                            </form>
                                    </td>
                                     {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

 {% if income.status != 1 %}
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"> добавить Накладную прихода </h4>
                        </div>
                        <div class="card-body">
                            <form method="post" action="{% url 'income_item_detail' income.id %}">
                                {% csrf_token %}
                                Продукт
                                <select name="product" class="form-control">
                                    {% for product in products %}
                                        <option value="{{ product.pk }}">{{ product.name }}</option>
                                    {% endfor %}
                                </select>
                                Количество
                                <input type="number" name="count" class="form-control">
                                Цена
                                <input type="number" name="price" class="form-control">
                                <button class="btn btn-sm btn-primary mt-3" type="submit">Добавить</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
