{% extends 'base.html' %}

{% block content %}
            <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
                <div class="row">
     <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Список Категорий</h4>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <table class="table table-bordered table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Имя</th>
                                                <th>Под категория</th>
                                                <th>main</th>
                                                <th>Статус</th>
                                                <th>Действие</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for category in category_products %}
                                            <tr>
                                               <td>{{ category.id }}</td>
                                               <td>{{ category.name }}</td>
                                               <td>{{ category.is_sub }}</td>
                                               <td>{{ category.main }}</td>
                                               <td>{{ category.status }}</td>
                                                <td style="width: 100px;">
                                                     <a href="{% url 'product_category_item_update' category.id %}" class="btn btn-primary shadow btn-sm sharp mr-1 "><i class="fa fa-pencil"></i></a>
                                                     <a href="{% url 'product_category_delete' category.id %}" class="btn btn-danger shadow btn-sm sharp mr-1 "><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

{% endblock %}