{% extends 'base.html' %}

{% block content %}
            <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
                <div class="row">
     <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Список Продуктов</h4>
                                <a href="{% url 'product_item_create' %}" class="btn btn-primary float-right">Добавить</a>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <table class="table table-bordered table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Имя</th>
                                                <th>Категория</th>
                                                <th>Площадь</th>
                                                <th>Площадь</th>
                                                <th>Размер</th>
                                                <th>Размер</th>
                                                <th>Статус</th>
                                                <th>Действие</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for product in products %}
                                            <tr>
                                                <th>{{ product.id }}</th>
                                                <td>{{ product.name }}</td>
                                                <td>{{ product.cat }}</td>
                                                <td>{{ product.is_area }}</td>
                                                <td>{{ product.how_area }}</td>
                                                <td>{{ product.is_size }}</td>
                                                <td>{{ product.how_size }}</td>
                                                <td>{{ product.status }}</td>
                                                <td style="width: 100px;">
                                                     <a href="{% url 'product_item_update' product.id %}" class="btn btn-primary shadow btn-sm sharp mr-1"><i class="fa fa-pencil"></i></a>
                                                     <a href="{% url 'product_item_delete' product.id %}" class="btn btn-danger shadow btn-sm sharp mr-1"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

{% endblock %}