{% extends 'base.html' %}

{% block content %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Список Заказов</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-responsive-sm">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Дата</th>
                                        <th>Цена</th>
                                        <th>Пользователь</th>
                                        <th>Действие</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in order %}
                                        <tr>
                                            <th>{{ order.id }}</th>
                                            <td>{{ order.created }}</td>
                                            <td>{{ order.total }}</td>
                                            <td>{{ order.contr_agent }}</td>
                                            <td style="width: 100px;">
                                                <a href="{% url 'order_detail' order.id %}"
                                                   class="btn btn-primary shadow btn-sm sharp mr-1 text-light"><i
                                                        class="fa fa-eye"></i></a>
                                                <a href="{% url 'income_update' order.id %}"
                                                   class="btn btn-primary shadow btn-sm sharp mr-1"><i
                                                        class="fa fa-pencil"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}