{% extends 'base.html' %}

{% block content %}
    <div class="content-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Заказ №{{ order.id }} </h4>
                            {% if order.status != 1 %}
                                <form action="{% url 'order_action' order.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="close_order">
                                    <input type="hidden" name="data" value="">

                                    <button type="submit" class="btn btn-primary">Закрыть</button>
                                </form>
                            {% endif %}
                        </div>
                        <div class="card-body table-responsive-sm">

                            <div class="">
                                <table class="table table-bordered table-responsive-sm">
                                    <thead>
                                    <tr>
                                        <th>Дата</th>
                                        <th>Агент</th>
                                        <th>Цена</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td>{{ order.created }}</td>
                                        <td>{{ order.contr_agent }}</td>
                                        <td>{{ order.total }}</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Накладная заказа № {{ order.id }} </h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-responsive-sm">
                                <thead>
                                <tr>
                                    <th>Продукт</th>
                                    <th>Количество</th>
                                    <th>Цена</th>
                                    {% if order.status != 1 %}
                                        <th>Действие</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for order_item in order_item %}
                                    <tr>
                                        <td>{{ order_item.product }}</td>
                                        <td>{{ order_item.count }}</td>
                                        <td>{{ order_item.price }}</td>
                                        {% if order.status != 1 %}
                                            <td style="width: 60px;">

                                                <form action="{% url 'order_action' order.pk %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="action" value="delete_order_item">
                                                    <input type="hidden" name="data" value="{{ order_item.id }}">
                                                    <button class="btn btn-danger btn-xs" type="submit"><i
                                                            class="fa fa-trash"></i></button>
                                                </form>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                {% if order.status != 1 %}
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"> Добавить Накладную прихода </h4>
                            </div>
                            <div class="card-body">
                                <form method="post" action="{% url 'order_detail' order.id %}">
                                    {% csrf_token %}
                                    Продукт
                                    <select name="product" class="form-control">
                                        {% for product in products %}
                                            <option value="{{ product.pk }}">{{ product.name }}</option>
                                        {% endfor %}
                                    </select>
                                    Количество
                                    <input type="number" name="count" class="form-control">
                                    Цена
                                    <input type="number" name="price" class="form-control">
                                    <button class="btn btn-sm btn-primary mt-3" type="submit">Добавить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
