{% extends 'base.html' %}
{% load widget_tweaks static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static './vendor/select2/css/select2.min.css' %}">
    <link href="{% static './vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static './css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Добавить склад</h4>
                    </div>
                    <div class="mr-auto ml-auto" style="width: 100%;'">
                        <div class="container">
                            <form class="mt-4 pb-5" method="post">
                                {% csrf_token %}
                                <h5 class="mt-3">Название</h5>
                                {{ form.title|add_class:'form-control mt-1' }}

                                <h5 class="mt-3">Статус</h5>
                                {{ form.status|add_class:'form-control mt-1' }}

                                <h5 class="mt-3">Тип</h5>
                                {{ form.warehouse_type|attr:"id:single-select" }}
                                <button class="btn btn-primary float-right mt-3 mb-3" type="submit">Добавить</button>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static './vendor/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static './js/plugins-init/select2-init.js' %}"></script>
{% endblock %}