{% extends 'base.html' %}

{% block content %}
            <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
                <div class="row mr-auto ml-auto">
                    <div class="col-lg-12 text-center">
                        <div class="row">
                            <div class="card mr-auto ml-auto" style="height: 200px; width: 500px;">
                            <div class="card-title mt-3">Удаление Баланса Агента</div>
                                <h5> Вы уверенны что хотите удалить Баланс <br>
                                    <span style="border-bottom: 1px solid black" class="text-center text-danger">{{ object }}</span> &nbsp;?</h5>
                            <form method="post" class="mt-3">
                                {% csrf_token %}
                                <button class="btn btn-primary mr-5" type="submit">Да</button>
                                <a href="{% url 'agent_balance_list' %}" class="btn btn-primary ml-5">Нет</a>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

{% endblock %}